@tailwind base;
@tailwind components;
@tailwind utilities;

.sc-gEvEer,
.sc-aXZVg {
  display: none;
}

.custom-textarea {
  border-bottom: 1px solid #e2e8f0;
}

.custom-textarea:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #3182ce;
}
