.qr__generator {
  width: 100%;
  height: 100%;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2% 5%;

  background-color: #9acaf5;
  background-image: linear-gradient(62deg, #9acaf5 0%, #9a9aff 100%);
}

.qr__generator-form {
  width: 100%;
  min-height: 400px;
  background: white;

  border-radius: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 1%;

  .form-section {
    width: 100%;
    // border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    padding: 8px 2%;
  }
}

.form-display,
.form-input-file {
  flex: 1;
}

.form-display {
  .ant-descriptions-item-label {
    width: 60%;
    height: 64px;
  }

  .form-table {
    .form-index-no {
      text-align: center;
    }
  }
}

.dragged-over {
  background-color: black; /* Adjust color for dragged-over item */
}

.cursor-grab {
  cursor: grab;
}

.table_show_data {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;

  th,
  td {
    border: 1px solid #000;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2; /* Màu nền cho tiêu đề cột */
  }

  tr:nth-child(even) {
    background-color: #f2f2f2; /* Màu nền cho hàng chẵn */
  }

  tr:hover {
    background-color: #ddd; /* Màu nền khi di chuột qua hàng */
  }

  td {
    white-space: nowrap; /* Ngăn chặn dòng văn bản quá dài bị ngắt dòng */
  }
}

.table_no_data {
  height: 200px;
  width: 100%;
  border-style: dashed;
}

.table-wrapper {
  overflow-x: auto; /* Cho phép cuộn ngang khi cần */
  max-width: 100%; /* Đảm bảo bảng không bị tràn ra khỏi màn hình */
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 8px;
  color: white;

  &:hover {
    opacity: 0.8;
  }
}

.excel_button {
  position: absolute;
  top: 2%;
  right: 0;

  .custom-file-export {
    border: 1px solid rgba(34, 197, 94, 0.8);
    display: inline-block;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 8px;
    color: white;

    &:hover {
      background-color: rgba(34, 197, 94, 0.8);
      opacity: 0.8;
    }
  }
}
